/* nav bar color */
.nav-bar-color, #tutorial .tutorial-slide div.tutorial-events-info-color .nav-color, #events .mini_calendar td.event.visible, #fanpoll .graph .graphbar, #dynamic-text-tabs.ui-page-theme-a form fieldset .ui-btn.ui-btn-active,#leaderboard.ui-page-theme-a form fieldset .ui-btn.ui-btn-active,#leaderboard-tabs.ui-page-theme-a form fieldset .ui-btn.ui-btn-active {
	background-color: #009390 !important;
}
#dynamic-text-tabs.ui-page-theme-a form fieldset .ui-btn.ui-btn-active,#leaderboard.ui-page-theme-a form fieldset .ui-btn.ui-btn-active,#leaderboard-tabs.ui-page-theme-a form fieldset .ui-btn.ui-btn-active {
	border-color: #009390 !important;
}
	#events h1 span.events-tab.active, #awards h1 span.awards-tab.active, #upcoming-events-list li.upcoming-event h3, #event-info .event-info h3, #offers li.offer h3, #offer-detail h3 {
		color: #009390; /* should be the same as above */
	}
	.ui-page-theme-a .ui-bar-inherit.nav-bar-color {
		color: #fff; /* navBarColor Text Color */
		border-color: #009390;
	}
	
.ui-content a.link-track, .ui-content a.link-color {color: #009390; text-decoration: none }

	
/* button color */
a.ui-btn.major-btn {
	background-color: #009390 !important;
	border-color: #006e6c !important;
	color: #fff !important;
}


/* background images */
.page-login-bg {
	background-image:url('../img/custom/win-background-login.png');
}
.page-light-bg {
	background-image:url('../img/custom/win-background-light.png');
}
.page-dark-bg {
	background-image:url('../img/custom/win-background-dark.png');
}
.page-light-bg-events {
	background-image:url('../img/custom/win-background-light-events.png');
}
.page-light-bg-rewards {
	background-image:url('../img/custom/win-background-light-rewards.png');
}
.page-light-bg-leaders {
	background-image:url('../img/custom/win-background-light-leaders.png');
}
.page-light-bg-news {
	background-image:url('../img/custom/win-background-light-news.png');
}
.page-light-bg-team {
	background-image:url('../img/custom/win-background-light-team.png');
}
.page-dark-bg-account {
	background-image:url('../img/custom/win-background-dark-account.png');
}
.page-dark-bg-fancam {
	background-image:url('../img/custom/win-background-dark-fancam.png');
}
.page-dark-bg-fanpoll {
	background-image:url('../img/custom/win-background-dark-fanpoll.png');
}
.page-dark-bg-rosters {
	background-image:url('../img/custom/win-background-dark-rosters.png');
}
.page-dark-bg-studenttickets {
	background-image:url('../img/custom/win-background-dark-studenttickets.png');
}

/* tutorial */ 
#tutorial .tutorial-slide div.tutorial-homescreen-container img.tutorial-circle.tutorial-events {top: 102px; left: 4px;}
#tutorial .tutorial-slide div.tutorial-homescreen-container img.tutorial-circle.tutorial-awards {top: 102px; left: 102px;}

/* homescreen */


.home-row {top: 27%; width: 100%; z-index: 99;}
	.home-row a {margin: 9px 5%; height: 22%; width: 22%; padding-bottom: 22%; /* background-color: #fff; opacity: 0.5; */ display: inline-block;}
 

/* events */
/* #upcoming-events-list li.upcoming-event h3, #event-info .event-info .right-col h3 {color: #240D69;} */ /* event title color */
.points-received-color {background-color: #63b664 !important;} /* points received color */
.ticket-text-color {color: #ff7200}

/* awards */
#redeem-award-btn.award-redeemed {background-color: #63b664 !important; border: 1px solid #499d4a !important}

/* offers */
#redeem-offer-btn.offer-redeemed {background-color: #63b664 !important; border: 1px solid #499d4a !important}

/* Store Link */
#storelink {position: absolute; bottom: 14%; width:100%; height:12%; left: 0; z-index: 100; /* background-color:#fff; opacity: 0.5 */}

/* Sponsor Logo Link */
#sponsorlogo-left {position: absolute; bottom: 0; width:50%; height:13%; left: 0; /* background-color:#fff; opacity: 0.5; */ z-index: 99;}
#sponsorlogo-right {position: absolute; bottom: 0; width:50%; height:13%; right: 0; /* background-color:#fff; opacity: 0.5; */ z-index: 99;}